# Ignore Vagrant files
VagrantVM/nomad-cluster/.vagrant/

# Ignore VS project folder if it's not relevant to the repository
VagrantVM/nomad-cluster/vs-project/
VagrantVM/nomad-cluster/consul-client2
VagrantVM/nomad-cluster/client2

# Ignore the venv environment
RealTime_NetworkMonitor_VS/venv/
RealTime_NetworkMonitor_VS/.env

# Ignore temporary files
*.log
*.tmp
*.swp
*~

# Ignore IDE or editor specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Ignore system files
.DS_Store
Thumbs.db
